spring:
  application:
    name: zapatos-api

  datasource:
    url: jdbc:postgresql://localhost:5432/zapatosdb
    username: postgres
    password: root

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  sql:
    init:
      mode: always

server:
  port: 8080
