name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Ejecutar tests unitarios
      run: cd Pipeline && mvn test

    - name: Construir JAR
      run: cd Pipeline && mvn clean package -DskipTests

  docker:
    runs-on: ubuntu-latest
    needs: test  # Solo ejecuta si tests pasan
    
    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Construir y probar Docker
      run: |
        cd Pipeline
        docker compose up -d postgres
        sleep 20
        docker compose build --no-cache app
        docker compose up app
        # Esperar app
        until curl -f http://localhost:8080/actuator/health || curl -f http://localhost:8080/personas; do
          echo "Esperando app...";
          sleep 2;
        done
        # Tests finales
        curl -f http://localhost:8080/personas
        curl -f http://localhost:8080/zapatos
        echo "¡Pipeline COMPLETA!"
